@import "buttons.scss";

$tableborder: #777;
$tablebkgrd: #ddd;

body {
	background-color: #000;
	font-family: 'Electrolize',Arial, sans-serif;
	color: ddd;
}


.name {
	width: 200px;
}

.description {
	width: 400px;
	
}


table {
	border: 3px solid $tableborder;
	border-collapse: collapse;
	margin: 10px;
}

table td, table th {
	border: 1px solid $tableborder;
	border-collapse: collapse;
	background-color: $tablebkgrd;
	color: #000;
	padding: 2px 5px 2px 5px;
}

table th {
	background-color: #ad3434;
	color: #fff;
}

table td.room-name {
	width: 200px;
}

table td.room-desc { 
	width: 300px;	
}

table td.room-ds {
	width: 150px;	
	text-align: center;
}


#col-left {
	width: 150px;
	float: left;
}

#col-right {
	width: 1000px;
	height: 800px;
	float: left;
	border-left: 1px solid #111;
	
}

#col-right-main
{
	background-color: #333;
	
}